@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}
*{
    margin: 0;
    padding: 0;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}
.container{
    box-sizing: border-box;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    padding: 2rem;
    border-radius: 30px;
}

.container img{
    width: 20px;
    background: hsl(215, 22%, 22%);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow: hidden;
}
h1{
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 1rem;
}
p{
    font-family: 'Overpass', sans-serif;
    color: var(--light-grey);
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2rem;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    font-family: 'Overpass', sans-serif;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    background-color: hsl(215, 22%, 22%);
    border-radius: 50%;
    margin-bottom: 2rem;
    color: var(--light-grey);
    transition: all 0.3s;
}
.submit-btn{
    font-size: 'Overpass', sans-serif;
    font-weight: 700;
    border: none;
    height: 2.5rem;
    border-radius: 20px;
    background-color: var(--orange);
    color: var(--white);
    letter-spacing: 0.5em;
    transition: all 0.3s;
}
.submit-btn:hover{
    background-color: var(--white);
    color: var(--orange);
}
.btn:hover{
    background-color: var(--orange);
    color: var(--white);
}
.active{
    background-color: var(--medium-grey);
    color: var(--white);
}

.thankyou-container{
    position: absolute;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    padding: 2rem;
    border-radius: 30px;
    visibility: hidden;
    
}
.thankyou-container img{
    width: 10rem;
    margin-bottom: 2rem;   
}
.thankyou-container .score{
    color: var(--orange);
    padding: 0.3rem 1rem;
    text-align: center;
    background: hsl(215, 22%, 22%);
    border-radius: 30px;
}
.thankyou-container .msg{
    text-align: center;
    margin: 0;
}